<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script type="module" src="js/main_app.js" defer></script>
    </head>
    <body>
        <div id="toolbar">
            <div id="save_button" class="save button">Save</div>
            <div id="load_button"class="load button">Load</div>
            <div id="undo_button" class="undo button"></div>
            <div id="redo_button" class="redo button"></div>

            <div class="scribble button"></div>
            <!-- 1 -->
            <div class="rect button"></div>

            <div class="line button"></div>
            <!-- 2 -->
            <div class="circle button"></div>

            <div class="dropper button"></div>
            <!-- 3 -->
            <div class="floodfill button"></div>

            <div class="eraser button"></div>
            <!-- 4 -->
            <div class="clearall button"></div>

            <div class="button"></div>
            <!-- 5 -->
            <div class="button"></div>

            <div class="button"></div>
            <!-- 6 -->
            <div class="button"></div>

            <div class="button"></div>
            <!-- 7 -->
            <div class="button"></div>

            <div class="button"></div>
            <!-- 8 -->
            <div class="button"></div>

            <div class="button"></div>
            <!-- 9 -->
            <div class="button"></div>


            <div id="color-selector-div-back">
                <div id="color-selector-div-fore">
                    <div id="color-selector-img-div"></div>
                    <canvas id="color-selector-canvas" width="60" height="160"></canvas>
                </div>
            </div>
            <div id="colorswap"><<-->></div>
        </div>
        <div id="canvas-area">
            <canvas id="view-canvas" width="700" height="700"></canvas>
            <canvas id="staging-canvas" width="700" height="700"></canvas>
            <canvas id="tool-canvas" width="700" height="700"></canvas>
            <canvas id="tool-tmp-canvas" width="700" height="700"></canvas>
            <canvas id="art-canvas" width="700" height="700"></canvas>
        </div>
        <input type="file" id="file_input" accept="image/png"/>
    </body>
</html>

