<html>
<head>
<script>
function go() {
    const offscreen_canvas = document.createElement('canvas');
    offscreen_canvas.width = 600;
    offscreen_canvas.height = 600;
    
    const main_canvas = document.getElementById('main_canvas');
    const main_context = main_canvas.getContext('2d');
    main_context.strokeStyle = 'black'
    for (let j = 0; j < 100; j+=10) {
        main_context.save()
        main_context.translate(100,100)
        main_context.rotate((Math.PI)/100*j)
        main_context.translate(-100,-100)
        main_context.beginPath()
        main_context.moveTo(0,0)
        main_context.lineTo(100,100)
        main_context.stroke()
        main_context.restore()
    }
}

</script>
<style>
#offscreen_canvas {
    visibility: none;
    position:absolute;
}
.offscreen_canvas {
    visibility: none;
}
#main_canvas {
    left: 0px;
    top: 0px;
    z-index: 0;
    position:absolute;
}

</style>
<script type="module" src="/static/js/playground.js" defer></script> 

</head>
<body onload="go()">
    <script>
        
    </script>
    <canvas id='main_canvas' width="600" height="600">
    </canvas>
    <canvas id='offscreen_canvas' width="600" height="600">
    </canvas>        
</body>

</html>